* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #4c4c6d, #1e2029);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 600px;
    background: #2e3138;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.container__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container__texto h1 {
    font-size: 2rem;
    text-align: center;
    color: #e63946;
}

.container__texto p {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
}

.container__input {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #4c4c6d;
    outline: none;
    background: #1e2029;
    color: #fff;
}

.container__botoes {
    display: flex;
    gap: 10px;
}

.container__botao {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.container__botao:hover {
    background: #e63946;
    color: #fff;
}

.container__botao:first-child {
    background: #457b9d;
    color: #fff;
}

.container__botao#reiniciar {
    background: #1d3557;
    color: #fff;
}

.container__imagem-pessoa {
    .container__imagem-pessoa {
        width: 150px; /* Largura fixa */
        height: auto; /* Mantém a proporção da imagem */
        margin-top: 20px;
        border-radius: 10px; /* Bordas arredondadas */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    }
    
}